doctype html
html(lang='ru')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title Timer
  body
    include ../partials/header
    h1 Timer
    div(class='timer' id='timer')
      //div.timer__container
        //div.timer__time-block <span id='timer-time'>0.0</span><br><span>sec</span>
        //div.timer__button-box
        //  button(class='timer-button timer-button--start' id='timer-start') Start
        //  button(class='timer-button timer-button--stop' id='timer-stop') Stop
        //  button(class='timer-button timer-button--reset' id='timer-reset') Reset
    include ../partials/footer
