@import 'vars';
@import 'mixins';
@import 'atomic';
@import '~@styles/css/fonts.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  line-height: 1.25;
  font-family: Ubuntu, sans-serif;
}

body,
html {
  font-size: calc(13px + 100vw / 141);

  @include minWidth($large) {
    font-size: calc(10px + 100vw / 141);
  }

  @include minWidth(1440px) {
    font-size: 20px;
  }
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

button {
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  display: none !important;
}

.timer {
  &__container {
    border: 1px solid #000;
    padding: 1em;
    max-width: 400px;
    width: 95%;
    margin: 0 auto;
  }

  &__time-block {
    width: 80%;
    margin: 0 auto 0.3em;
    text-align: center;
    font-size: 4.5em;
    font-weight: bold;
  }

  &__button-box {
  }
}

.timer-button {
  text-align: center;
  padding: 0.5em 1em;
  border: 1px solid;
  display: block;
  width: 100%;
  margin-bottom: 0.4em;
  font-size: 1.25em;
  font-weight: bold;
  color: #fff;

  &--start {
    background-color: $greenBtn;
    border-color: $greenBtn;
  }

  &--stop {
    background-color: $redBtn;
    border-color: $redBtn;
  }

  &--reset {
    background-color: $grayBtn;
    border-color: $grayBtn;
  }
}
